---
# pcs resource create name_cluster ocf:heartbeat:LVM-activate vgname=cluster_vg activation_mode=exclusive vg_access_mode=system_id --group HA-LVM
- name: create LVM-activate resource
  ansible.builtin.command: "pcs resource create {{ item.name }} ocf:heartbeat:LVM-activate lvname={{ item.lv }} vgname={{ item.vg }} activation_mode=shared vg_access_mode=lvmlockd op monitor interval=30s on-fail=ignore clone interleave=true ordered=true"
  with_items: 
    - { name: 'fileio_cluster_vg', lv: 'file0_cluster_lv', vg: 'fileio_cluster_vg' }
    - { name: 'block_cluster_vg', lv: 'block0_cluster_lv', vg: 'block_cluster_vg' }
    - { name: 'ramdisk_cluster_vg', lv: 'ram0_cluster_lv', vg: 'ramdisk_cluster_vg' }

# pcs constraint order start locking-clone then shared_vg-clone
- name: set start order as [locking] → [shared_vg]
  ansible.builtin.command: "pcs constraint order start lvmlockd-clone then {{ item.name }}-clone"
  with_items: 
    - { name: 'fileio_cluster_vg' }
    - { name: 'block_cluster_vg' }
    - { name: 'ramdisk_cluster_vg' }

# pcs constraint colocation add shared_vg-clone with locking-clone
- name: set that [shared_vg] and [locking] start on a same node
  ansible.builtin.command: "pcs constraint colocation add {{ item.name }}-clone with lvmlockd-clone"
  with_items: 
    - { name: 'fileio_cluster_vg' }
    - { name: 'block_cluster_vg' }
    - { name: 'ramdisk_cluster_vg' }

# pcs resource create shared_fs ocf:heartbeat:Filesystem device='/dev/vg_gfs2/lv_gfs2' directory='/home/gfs2-share' fstype='gfs2' options=noatime op monitor interval=10s on-fail=fence --group shared_vg
- name: create Filesystem resource
  ansible.builtin.command: "pcs resource create {{ item.name }} ocf:heartbeat:Filesystem device={{ item.device }} directory={{ item.mnt }} fstype=gfs2 options=noatime op monitor interval=20s on-fail=ignore clone interleave=true"
  with_items: 
    - { name: 'fileio_cluster_fs', device: '/dev/fileio_cluster_vg/file0_cluster_lv', mnt: '/mnt/lvm_cluster_file0' }
    - { name: 'block_cluster_fs', device: '/dev/block_cluster_vg/block0_cluster_lv', mnt: '/mnt/lvm_cluster_block0' }
    #- { name: 'ramdisk_cluster_fs', device: '/dev/ramdisk_cluster_vg/ram0_cluster_lv', mnt: '/mnt/lvm_cluster_ram0' }

# pcs constraint order start shared_vg-clone then shared_fs-clone
- name: set start order as [shared_vg] → [shared_fs]
  ansible.builtin.command: "pcs constraint order start {{ item.vg }}-clone then {{ item.fs }}-clone"
  with_items:
    - { vg: 'fileio_cluster_vg', fs: 'fileio_cluster_fs' }
    - { vg: 'block_cluster_vg', fs: 'block_cluster_fs' }
    #- { vg: 'ramdisk_cluster_vg', fs: 'ramdisk_cluster_fs' }

# pcs constraint colocation add shared_fs-clone with shared_vg-clone
- name: set that [shared_fs] and [shared_vg] start on a same node
  ansible.builtin.command: "pcs constraint colocation add {{ item.fs }}-clone with {{ item.vg }}-clone"
  with_items:
    - { vg: 'fileio_cluster_vg', fs: 'fileio_cluster_fs' }
    - { vg: 'block_cluster_vg', fs: 'block_cluster_fs' }
    #- { vg: 'ramdisk_cluster_vg', fs: 'ramdisk_cluster_fs' }