defaults {
  user_friendly_names yes
  find_multipaths yes
  path_selector "round-robin 0"
  path_grouping_policy failover
  failback immediate
}
blacklist {
  devnode "^(ram|raw|loop|fd|md|dm-|sr|scd|st)[0-9]*"
  devnode "^hd[a-z]"
}
multipaths {
  multipath {
    wwid {{ scsi_id_sda.stdout }}
    alias otusFileio
  }
  multipath {
    wwid {{ scsi_id_sdb.stdout }}
    alias otusBlock
  }
  multipath {
    wwid {{ scsi_id_sdc.stdout }}
    alias otusRamdisk
  }
}
