[mysqld]
pid-file=/var/run/mysqld/mysqld.pid
log-error=/var/log/mysqld.log
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0

server-id = {% if ansible_hostname == 'database-1' %}1{% elif ansible_hostname == 'replica' %}2{% elif ansible_hostname == 'backup' %}3{% else %}4{% endif %}

innodb_file_per_table = 1
skip-name-resolve